#left {
	width:200px;
	float: left;
}
#right {
	width:600px;
	float: left;
	margin-left: 20px;
	font-family: "Arial", Gadget, sans-serif;
}
.account img, .thread img {
	width:25px;
}
.account {
	padding:10px;
	border-radius: 5px;
	background-color: #F3F1E2;
	margin-bottom: 5px;
}

.username {
	font-weight: bold;
}
.thread:hover {
	background-color:#eee;
}
.message {
	padding-bottom: 10px;
}
