body {
	font-family: "Arial", Gadget, sans-serif;
	font-size: 14px !important;
	padding-top: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
}

#left {
	width:300px;
	float: left;
}
#right {
	width:600px;
	float: left;
	padding-left: 20px;
	border-left: 1px solid #ddd;
}
#chatWindow {
	height:500px;
	overflow: scroll;
}
.newMessagePic {
	width:30px;
	height:30px;
}
.newMessageUsername {
	font-weight: bolder;
}
.thread-list-item {

}
.textBox{
	width:300px !important;
	display:inline-block!important;
}


.thread-list-item:hover {
	background-color:#eee;
	cursor:pointer;
}

.thread-list-item img {
	width:25px;
}

.account {
	padding:10px;
	border-radius: 5px;
	background-color: #F3F1E2;
	margin-bottom: 5px;
}

.clear {
	clear: both;
}

.message {
	margin-bottom: 5px;
	background:#e8eeff;
	border-radius: 10px;
	float:left;
	padding:10px;
}

.thread-image {
	width:300px;
}

.divider {
	margin-top:20px;
	margin-bottom: 5px;
	vertical-align: middle;
	font-size: 18px;
}
