#left {
	width:200px;
	float: left;
}
#right {
	width:600px;
	float: left;
	margin-left: 20px;
	font-family: "Arial", Gadget, sans-serif;
}
.account img {
	width:25px;
}
.account {
	padding:10px;
}

.username {
	font-weight: bold;
}
.account:hover {
	background-color:#eee;
}
.message {
	padding-bottom: 10px;
}
